<div class="register-container">
    {{login}}
   <div>
    <form  action="/register" method="get">
        <input type="text" name="first_name" placeholder="First name">
        <input type="text" name="last_name" placeholder="Last name">
        <input type="date" name="age" placeholder="Birthday">
        <button type="submit" class="btn register">Register</button>
    </form>
    
   </div> 
   
</div>
<script src="../public/js/register.public.js"></script>