<div class="stock-container">
    <form id="stockForm">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="price" placeholder="Price">
        <input type="number" name="stock" placeholder="Stock">
        <input type="string" name="category" placeholder="Category">
        <input type="password" name="code" placeholder="Code">
        <button type="submit" class="btn submit-stock">Submit</button>
    </form>
</div>
<script src="../public/js/stock.public.js"></script>